@import "tailwindcss";

@theme {
  --color-primary: var(--mat-sys-primary);
  --color-on-primary: var(--mat-sys-on-primary);
  --color-secondary: var(--mat-sys-secondary);
  --color-on-secondary: var(--mat-sys-on-secondary);
  --color-tertiary: var(--mat-sys-tertiary);
  --color-on-tertiary: var(--mat-sys-on-tertiary);
  --color-error: var(--mat-sys-error);
  --color-on-error: var(--mat-sys-on-error);
  --color-warning: var(--mat-sys-warning);
  --color-on-warning: var(--mat-sys-on-warning);
  --color-surface: var(--mat-sys-surface);
  --color-on-surface: var(--mat-sys-on-surface);
  --color-surface-container: var(--mat-sys-surface-container);
  --color-on-surface-container: var(--mat-sys-on-surface-container);
  --color-surface-container-high: var(--mat-sys-surface-container-high);
  --color-on-surface-container-high: var(--mat-sys-on-surface-container-high);
  --color-surface-container-low: var(--mat-sys-surface-container-low);
  --color-on-surface-container-low: var(--mat-sys-on-surface-container-low);
}
