<div class="min-h-screen transition-colors duration-300">
  <app-home-hero-section [registerdUsersCount]="registerdUsersCount()" />
  <app-home-problem-section />
  <app-home-solution-section />
  <app-home-features-section />
  <app-home-storage-and-nomenclatures-section />
  <app-home-automated-workflows-section />
  <app-home-analytics-and-dashboard-section />
  <app-home-below-hero-section [registerdUsersCount]="registerdUsersCount()" />
  <app-home-exclusive-section />
  <app-home-signup-form-section (registered)="onRegistered()" />
</div>

@if (showCookieManager()) {
  <app-coockie-manager />
}
