<div class="min-h-screen transition-colors duration-300">
  <!-- <header
    class="fixed top-22 left-0 right-0 z-50 transition-all duration-300 bg-transparent dark:bg-linear-to-tr dark:from-blue-950 dark:to-indigo-900"
  >
    <div class="max-w-7xl mx-auto px-6 sm:px-8 lg:px-12">
      <div class="flex items-center justify-between h-20">
        <div class="grid grid-cols-3 items-center max-h-14">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120" class="max-h-14" aria-label="Hyper-M Logo">
            <circle cx="45" cy="60" r="22" fill="#818cf8" opacity="0.95"></circle>
            <circle cx="75" cy="60" r="22" fill="#fb923c" opacity="0.95"></circle>
          </svg>
          <span class="text-2xl font-semibold col-span-2 text-gray-200">Hyper-M</span>
        </div>
        <nav class="hidden md:flex items-center space-x-6">
          <button
            class="text-sm md:text-base font-medium transition-all duration-300 relative text-blue-600 hover:text-cyan-500 dark:text-blue-300 darkhover:text-cyan-300"
          >
            Предизвикателства
          </button>
          <button
            class="text-sm md:text-base font-medium transition-all duration-300 relative text-blue-600 hover:text-cyan-500 dark:text-blue-300 dark:hover:text-cyan-300"
          >
            Как работи
          </button>
          <button
            class="text-sm md:text-base font-medium transition-all duration-300 relative text-blue-600 hover:text-cyan-500 dark:text-blue-300 dark:hover:text-cyan-300"
          >
            Модули
          </button>
          <button
            class="text-sm md:text-base font-medium transition-all duration-300 relative text-blue-600 hover:text-cyan-500 dark:text-blue-300 dark:hover:text-cyan-300"
          >
            Пилотна програма
          </button>
          <button
            class="bg-blue-600 hover:bg-blue-700 text-white dark:bg-blue-300 dark:hover:bg-blue-500 dark:text-gray-900 px-5 py-2.5 rounded-xl font-semibold text-sm md:text-base transition-all duration-300 transform hover:scale-105 hover:shadow-lg"
          >
            Резервирайте място
          </button>
        </nav>
        <div class="flex items-center gap-3">
          <button
            class="hidden md:inline-flex items-center gap-2 rounded-xl border border-gray-100 bg-white/70 px-4 py-2 text-sm font-semibold text-gray-600 transition-all duration-300 hover:bg-white dark:border-slate-600 dark:bg-slate-800/80 dark:text-slate-200 dark:hover:bg-slate-800"
            aria-label="Превключете към светъл изглед"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-sun w-4 h-4"
              aria-hidden="true"
            >
              <circle cx="12" cy="12" r="4"></circle>
              <path d="M12 2v2"></path>
              <path d="M12 20v2"></path>
              <path d="m4.93 4.93 1.41 1.41"></path>
              <path d="m17.66 17.66 1.41 1.41"></path>
              <path d="M2 12h2"></path>
              <path d="M20 12h2"></path>
              <path d="m6.34 17.66-1.41 1.41"></path>
              <path d="m19.07 4.93-1.41 1.41"></path>
            </svg>
            <span class="hidden lg:inline">Светъл режим</span>
          </button>
          <button
            class="inline-flex items-center justify-center rounded-lg p-2 transition-colors duration-300 md:hidden text-gray-400 hover:bg-white/10 dark:text-gray-200 dark:hover:bg-gray-200/10"
            aria-label="Превключете към светъл изглед"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-sun w-5 h-5"
              aria-hidden="true"
            >
              <circle cx="12" cy="12" r="4"></circle>
              <path d="M12 2v2"></path>
              <path d="M12 20v2"></path>
              <path d="m4.93 4.93 1.41 1.41"></path>
              <path d="m17.66 17.66 1.41 1.41"></path>
              <path d="M2 12h2"></path>
              <path d="M20 12h2"></path>
              <path d="m6.34 17.66-1.41 1.41"></path>
              <path d="m19.07 4.93-1.41 1.41"></path>
            </svg>
          </button>
          <button
            class="md:hidden p-2 rounded-lg transition-colors duration-300 text-gray-400 hover:bg-white/10 dark:text-gray-200 dark:hover:bg-gray-200/10"
            aria-label="Меню"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-menu w-6 h-6"
              aria-hidden="true"
            >
              <path d="M4 5h16"></path>
              <path d="M4 12h16"></path>
              <path d="M4 19h16"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </header> -->
  <app-home-hero-section />
  <app-home-problem-section />
  <app-home-solution-section />
  <app-home-features-section />
  <app-home-storage-and-nomenclatures-section />
  <app-home-automated-workflows-section />
  <app-home-analytics-and-dashboard-section />
  <app-home-exclusive-section />
  <app-home-signup-form-section />
</div>

@if (showCookieManager()) {
  <app-coockie-manager />
}
