<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    [hidden]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar [ngClass]="[getToolbarClasses(), 'z-1000', 'transition-all', 'duration-300']">
      <div class="container mx-auto w-full flex items-center justify-between">
        @if (isHandset$ | async) {
          <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        }
        <!-- <span class="text-2xl">Hyper-M</span> -->
        <div class="grid grid-cols-3 items-center max-h-14">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120" class="max-h-14" aria-label="Hyper-M Logo">
            <circle cx="45" cy="60" r="22" fill="#818cf8" opacity="0.95"></circle>
            <circle cx="75" cy="60" r="22" fill="#fb923c" opacity="0.95"></circle>
          </svg>
          <span class="text-2xl font-semibold col-span-2 text-gray-200">Hyper-M</span>
        </div>
        @if ((isHandset$ | async) === false) {
          <span class="flex-1"></span>
          <div class="flex gap-4 items-center">
            <button
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              routerLink="/"
              fragment="problem"
              (click)="scroll('problem')"
              matButton
            >
              Предизвикателства
            </button>
            <button routerLink="/" fragment="solution" (click)="scroll('solution')" matButton>Как работи</button>
            <button routerLink="/" fragment="features" (click)="scroll('features')" matButton>Модули</button>
            <button routerLink="/" fragment="exclusive" (click)="scroll('exclusive')" matButton>
              Пилотна програма
            </button>
            <button
              matFab
              extended
              routerLink="/"
              fragment="signup-form"
              (click)="scroll('signup-form')"
              class="transition-all duration-300 transform hover:scale-105 hover:shadow-lg navigation-cta"
            >
              <mat-icon>add</mat-icon>
              Резервирайте място
            </button>
          </div>
        }
      </div>
    </mat-toolbar>
    <router-outlet />
    <app-footer-section />
  </mat-sidenav-content>
</mat-sidenav-container>
