@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:host {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-surface),
      container-text-color: var(--mat-sys-on-surface),
      standard-height: 84px,
    )
  );

  @include mat.icon-overrides(
    (
      color: var(--mat-sys-on-surface),
    )
  );
}
